@import '/src/scss/variables';



.readonly-panel {
  opacity: 0.5;
  /* Reduce opacity to visually indicate that panel is disabled */
  pointer-events: none;
  /* Prevent user interactions with the panel */
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border-color: $tabBgColor;
  background: $tabBgColor;
  color: $tabFontColor;
  margin-right: 2px;
  line-height: $tabHeight;
  min-width: $tabWidth;
  border-radius: $tabBorderRadius;
  border-radius: $tabBorderRadius;
  border-bottom: $tabBorderBottom;
  box-shadow: none !important;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: $tabActiveBgColor;
  border-color: $tabBgColor;
  color: $ActiveTabFontColor;
  margin-right: 2px;
  line-height: $tabHeight;
  min-width: $tabWidth;
  border-radius: $tabBorderRadius;
  border-bottom: $tabBorderBottom;
  box-shadow: none !important;
}

:host ::ng-deep .p-timeline-horizontal .p-timeline-event:last-child {
  flex: 0.5;
}

:host ::ng-deep .p-timeline.p-timeline-horizontal .p-timeline-event-opposite, .p-timeline.p-timeline-horizontal .p-timeline-event-content {
 padding: 0 0; 
}

:host ::ng-deep .p-timeline.p-timeline-horizontal .p-timeline-event-content {
   padding: 0 0;
}