<div class="card" style="height:92vh;">
  <p-panel header="Manage Bookings Check Status">
    <div class="card">
        <p-table #dt1 [value]="reqReservationData" [paginator]="false" styleClass="p-datatable-customers p-datatable-gridlines"
            [scrollable]="true" scrollHeight="450px" [tableStyle]="{'width': '1600px'}" (onFilter)="onInnerFilter($event)">
            <ng-template pTemplate="caption">
                <div class="d-flex flex-row justify-content-between">
                    <h4 style="font-size: 13px">Select a Reservation</h4>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:10rem">Update Status</th>
                    <th pSortableColumn="bookingType">
                      <div class="grid-header-column">
                        <div class="grid-header-label">
                          <p class="grid-label-paragraph">Type</p>
                        </div>
                        <div class="grid-sort-icon">
                        <p-sortIcon field="bookingType"></p-sortIcon>
                        <p-columnFilter type="text" field="bookingType" display="menu"></p-columnFilter>
                          </div>
                       </div>
                  </th>
                  <th pSortableColumn="reserveId">
                      <div class="grid-header-column">
                          <div class="grid-header-label">
                            <p class="grid-label-paragraph">Meeting Id </p>
                          </div>
                          <div class="grid-sort-icon">
                          <p-sortIcon field="reserveId"></p-sortIcon>
                          <p-columnFilter type="numeric" field="reserveId" display="menu"></p-columnFilter>
                            </div>
                         </div>
                  </th>
                  <th pSortableColumn="blDataBlCode">
                      <div class="grid-header-column">
                          <div class="grid-header-label">
                            <p class="grid-label-paragraph">Building</p>
                          </div>
                          <div class="grid-sort-icon">
                          <p-sortIcon field="blDataBlCode"></p-sortIcon>
                          <p-columnFilter type="text" field="blDataBlCode" display="menu"></p-columnFilter>
                            </div>
                         </div>
                  </th>
                  <th pSortableColumn="flDataFlCode">
                      <div class="grid-header-column">
                          <div class="grid-header-label">
                            <p class="grid-label-paragraph">Floor</p>
                          </div>
                          <div class="grid-sort-icon">
                          <p-sortIcon field="flDataFlCode"></p-sortIcon>
                          <p-columnFilter type="text" field="flDataFlCode" display="menu"></p-columnFilter>
                            </div>
                         </div>
                  </th>
                  <th pSortableColumn="rmDataRmCode">
                      <div class="grid-header-column">
                          <div class="grid-header-label">
                            <p class="grid-label-paragraph">Room</p>
                          </div>
                          <div class="grid-sort-icon">
                          <p-sortIcon field="rmDataRmCode"></p-sortIcon>
                          <p-columnFilter type="text" field="rmDataRmCode" display="menu"></p-columnFilter>
                            </div>
                         </div>
                  </th>
                  <th pSortableColumn="dateStart">
                      <div class="grid-header-column">
                          <div class="grid-header-label">
                            <p class="grid-label-paragraph">Date</p>
                          </div>
                          <div class="grid-sort-icon">
                          <p-sortIcon field="dateStart"></p-sortIcon>
                            </div>
                         </div>
                  </th>
                  <th pSortableColumn="timeStart">
                      <div class="grid-header-column">
                          <div class="grid-header-label">
                            <p class="grid-label-paragraph">From Time</p>
                          </div>
                          <div class="grid-sort-icon">
                          <p-sortIcon field="timeStart"></p-sortIcon>
                          
                            </div>
                         </div>
                  </th>
                  <th pSortableColumn="timeEnd">
                      <div class="grid-header-column">
                          <div class="grid-header-label">
                            <p class="grid-label-paragraph">To Time</p>
                          </div>
                          <div class="grid-sort-icon">
                          <p-sortIcon field="timeEnd"></p-sortIcon>
                          
                            </div>
                         </div>
                  </th>
                  <th pSortableColumn="status">
                    <div class="grid-header-column">
                      <div class="grid-header-label">
                          <p class="grid-label-paragraph">Status</p>
                      </div>
                      <div class="grid-sort-icon">
                          <p-sortIcon field="status"></p-sortIcon>
                          <p-columnFilter field="status" matchMode="equals" display="menu">
                              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                  <p-dropdown [ngModel]="value" [options]="enumStatusData" optionLabel="enumValue"
                                      optionValue="enumKey" (onChange)="filter($event.value)"
                                      placeholder="Select a Type" [showClear]="true"></p-dropdown>
                              </ng-template>
                          </p-columnFilter>
                      </div>
                  </div>
                  </th>
                  <th pSortableColumn="meetingName">
                      <div class="grid-header-column">
                          <div class="grid-header-label">
                            <p class="grid-label-paragraph"> Meeting Name</p>
                          </div>
                          <div class="grid-sort-icon">
                          <p-sortIcon field="meetingName"></p-sortIcon>
                          <p-columnFilter type="text" field="meetingName" display="menu"></p-columnFilter>
                            </div>
                         </div>
                  </th>
                  <th pSortableColumn="requestedByUserUserName">
                      <div class="grid-header-column">
                          <div class="grid-header-label">
                            <p class="grid-label-paragraph">Requested By</p>
                          </div>
                          <div class="grid-sort-icon">
                          <p-sortIcon field="requestedByUserUserName"></p-sortIcon>
                          <p-columnFilter type="text" field="requestedByUserUserName" display="menu"></p-columnFilter>
                            </div>
                         </div>
                  </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-book>
                <tr [pSelectableRow]="book">

                    <td style="width:10rem">
                        <button type="button" pButton class="p-button-primary" (click)="updateReservation(book,displayButtonOption(book))"
                            [hidden]="displayButtonOption(book)== null">
                            {{displayButtonOption(book)}}</button>
                    </td>
                    <td>{{book.bookingType}}</td>
                    <td>{{book.reserveId}}</td>
                    <td>{{book.blDataBlCode}}</td>
                    <td>{{book.flDataFlCode}}</td>
                    <td>{{book.rmDataRmCode}}</td>
                    <td>{{book.dateStart | date :"dd MMM yyyy"}}</td>
                    <td>{{convertToDisplayTime(book.timeStart) }}</td>
                    <td>{{convertToDisplayTime(book.timeEnd) }}</td>
                    <td>{{getEnumByid(book.status) }}</td>
                    <td matTooltip="{{book.meetingName}}" matTooltipPosition="below" class="ellipsis">{{book.meetingName}}</td>
                    <td>{{book.requestedByUserUserName}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="9">
                        No records found
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="paginator">
          <p-paginator [rows]="rowCount" [totalRecords]="totalElements" (onPageChange)="onPageChange($event)"
            [first]="paginationObj.pageNo * paginationObj.pageSize"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[25,50,100]"></p-paginator>
      </div>
    </div>
</p-panel>
</div>
<p-toast key="checkBookingMsg" position="top-right"></p-toast>
<p-confirmDialog header="Confirmation" key="checkBookingGrid" icon="pi pi-exclamation-triangle"></p-confirmDialog>