@import '/src/scss/variables';
.filter-search-button{
    width: 80px; 
    margin: 0px 20px 0px 0px;
  }
  .filter-clear-button{
    width: 80px;
    margin-left: -05px;
  }
  
  @media screen and (min-width: $tabletPotraitMinWidth) and (max-width:$tabletPotraitMaxWidth ){
    .filter-search-button{
      width: 60px; 
      margin: 0px 8px 0px 0px;
    }
    .filter-clear-button{
      width: 60px;
      margin-left: -05px;
    }
  }