:host ::ng-deep .p-dialog .p-dialog-header
 {
  padding-left: 1rem !important;
  padding: 0rem;
  border-radius: 0rem !important; 
}

:host ::ng-deep .chart-legend .legend-labels {
  width: auto !important;
 // background: rgb(0 0 0 / 0%);
}

:host ::ng-deep.ngx-charts-outer{
  -webkit-animation:chartFadeIn linear 0 !important;
  animation:chartFadeIn linear 0 !important;
}


.filter-panel-button{
  width:50px;
}