<div class="card">
    <p-table #dt1 [value]="planData" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,25]"
        styleClass="p-datatable-responsive-demo p-datatable-gridlines" [rowHover]="false" [scrollable]="true"
        scrollDirection="both" scrollHeight="250px" [(selection)]="selectedScreens" dataKey="planId">
        <ng-template pTemplate="caption">
            <div class="d-flex flex-row">
                <div style="flex: auto;">
                    <h4>Linked Plans For {{selectedRoom}}</h4>
                </div>
                <div>
                    <button pButton pRipple label="Un Link" class="p-button-primary p-button-sm p-mr-2"
                        (click)="confirmDialog()" [disabled]="!(selectedScreens.length>0)"></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="planName">
                    <div class="grid-header-column">
                        <div class="grid-header-label">
                            <p class="grid-label-paragraph">Plan Name</p>
                        </div>
                        <div class="grid-sort-icon">
                            <p-sortIcon field="planName"></p-sortIcon>
                            <p-columnFilter type="text" field="planName" display="menu"></p-columnFilter>
                        </div>
                    </div>
                </th>
                <th pSortableColumn="description">
                    <div class="grid-header-column">
                        <div class="grid-header-label">
                            <p class="grid-label-paragraph">Plan Description</p>
                        </div>
                        <div class="grid-sort-icon">
                            <p-sortIcon field="description"></p-sortIcon>
                            <p-columnFilter type="text" field="description" display="menu"></p-columnFilter>
                        </div>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-plan>
            <tr [pSelectableRow]="plan">
                <td style="width: 4rem">
                    <p-tableCheckbox [value]="plan"></p-tableCheckbox>
                </td>
                <td matTooltip="{{plan.planName}}" matTooltipPosition="below" class="ellipsis">{{plan.planName}}</td>
                <td  matTooltip="{{plan.description}}" matTooltipPosition="below" class="ellipsis">{{plan.description}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="4">
                    No records found
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-toast key="unLinkGrid" position="top-right"></p-toast>
<p-toast key="delete" position="top-center"></p-toast>
<p-confirmDialog key="unLinkGrid" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>