@import '/src/scss/variables';

.disabled-form {
  opacity: 0.8;
  /* You can customize the disabled form style here */
  pointer-events: none;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border-color: $tabBgColor;
  background: $tabBgColor;
  color: $tabFontColor;
  margin-right: 2px;
  line-height: $tabHeight;
  min-width: $tabWidth;
  border-radius: $tabBorderRadius;
  border-radius: $tabBorderRadius;
  border-bottom: $tabBorderBottom;
  box-shadow: none !important;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: $tabActiveBgColor;
  border-color: $tabBgColor;
  color: $ActiveTabFontColor;
  margin-right: 2px;
  line-height: $tabHeight;
  min-width: $tabWidth;
  border-radius: $tabBorderRadius;
  border-bottom: $tabBorderBottom;
  box-shadow: none !important;
}