<p-panel header="{{title}} Room Category">
    <ng-template pTemplate="icons">
        <button pButton (click)="saveRecords()" label="Save" [disabled]="!rmcatFormPanel.valid"></button>
        <button pButton class="ml10" label="Cancel" (click)="cancel()"></button>
    </ng-template>
    <form [formGroup]="rmcatFormPanel">
        <table width="100%">
          <tr>
            <td style="width: 100%">
              <div class="input-label-custom">
                <label class='form-field-lable control-label'>Room Category</label>
                <input type="text" class="form-control" name="rmCat" formControlName="rmCat" maxlength="32" appTrimInput>
              </div>
            </td>
        </tr>
        <!-- <tr *ngIf="(rmcatFormPanel.controls['rmCat']?.errors && rmcatFormPanel.controls['rmCat'].dirty)">      
          <td style="width:50%">
            <label *ngIf="rmcatFormPanel.controls['rmCat']?.errors &&  !rmcatFormPanel.controls['rmCat']?.errors.required" class='form-field-lable' style="color:red;">Room Category already exists</label>
          </td>
        </tr> -->
        <tr>
            <td style="width: 100%">
              <div class="input-label-custom ">
                <label class='form-field-lable'>Description</label>
                <textarea class="form-control note-border" name="rmCatDesc" formControlName="rmCatDesc" rows="2" nz-input maxlength="64" appTrimInput></textarea>
              </div>
            </td>
        </tr>
        <tr>
          <td style="width: 100%">
            <div class="input-label-custom">
                    <label class='form-field-lable control-label'>Highlight Color </label>
                    <input type="color" class="form-control" name="highlightColor" style="width: 100px;padding: 0.375rem;"
                            formControlName="highlightColor" maxlength="32" >
            </div>
          </td>
        </tr>
      </table>
    </form>
</p-panel>
<p-toast key="save" position="top-right"></p-toast>