<h2 mat-dialog-title class="mat-dialog-title-ext">{{title}} Trade</h2>
<mat-dialog-content class="mat-typography mat-dialog-content-ext">
  <form [formGroup]="frmreqTradeDetail">
    <mat-card>
      <mat-card-content id="frmreqToolsDetailCard">
        <app-add-request-trade formControlName="reqTradeFormPanel" [isNew]="isNew"  [isView]="isView"></app-add-request-trade>
      </mat-card-content>
    </mat-card>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mat-dialog-actions-ext">
  <p-button label="Unassign" icon="pi pi-check" (click)="onDelete()"[disabled]="requestTradeId == 0 || isView"  ></p-button>
  <p-button label="Save" icon="pi pi-check" (click)="saveRecords()" [disabled]="!frmreqTradeDetail.valid || AddRequestToolsComponent.tradeExists"
  [style]="{'margin-left': '.5em'}"></p-button>
  <p-button label="Cancel" icon="pi pi-times" (click)="confirmDialog()" styleClass="p-button-secondary"
    [style]="{'margin-left': '.5em'}"></p-button>
</mat-dialog-actions>
<p-confirmDialog key="reqtools" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>