.alert-box {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
  }
  
  .alert-label {
    font-weight: bold;
  }
  
  .alert-count {
    font-size: 16px;
    color: rgb(9, 9, 9);
  }