<h2 mat-dialog-title class="mat-dialog-title-ext"> {{title}} Room Configuration</h2>
<mat-dialog-content class="mat-typography mat-dialog-content-ext ">
    <form>
        <mat-card>
            <mat-card-content>
                <form [formGroup]="rmConfigForm">
                    <table width="100%">
                        <tr>
                            <td style="width: 50%">
                                <div class="input-label-custom ">
                                    <label class='form-field-lable'>Pre-block (minutes)</label>
                                    <input type="text" NumbersOnly class="form-control" name="preBlock" formControlName="preBlock" maxlength="2"
                                        appTrimInput>
                                </div>
                            </td>
                            <td style="width: 50%">
                                <div class="input-label-custom ">
                                    <label class='form-field-lable control-label'>Building Code</label>
                                    <input type="text" [readOnly]="true" class="form-control" name="blCode"
                                        formControlName="blCode" >
                                </div>
                            </td>
                        </tr>
                        <tr
                            *ngIf="(rmConfigForm.controls['preBlock']?.errors && rmConfigForm.controls['preBlock'].dirty)">
                            <td style="width:25%">
                                <label *ngIf="!rmConfigForm.controls['preBlock']?.errors.required"
                                    class='form-field-lable' style="color:red;">{{errorMsg}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%">
                                <div class="input-label-custom ">
                                    <label class='form-field-lable '>Post-block (minutes)</label>
                                    <input type="text" NumbersOnly class="form-control" name="postBlock"
                                        formControlName="postBlock" maxlength="2" appTrimInput>
                                </div>
                            </td>
                            <td style="width: 50%">
                                <div class="input-label-custom ">
                                    <label class='form-field-lable control-label'>Floor Code</label>
                                    <input type="text" [readOnly]="true" class="form-control" name="flCode"
                                        formControlName="flCode">
                                </div>
                            </td>
                        </tr>
                        <tr
                            *ngIf="(rmConfigForm.controls['postBlock']?.errors && rmConfigForm.controls['postBlock'].dirty)">
                            <td style="width:25%">
                                <label *ngIf="!rmConfigForm.controls['postBlock']?.errors.required"
                                    class='form-field-lable' style="color:red;">{{errorMsg}}</label>
                            </td>
                        </tr>
                        <tr>
                            <!-- <td style="width: 50%">
                                <div class="input-label-custom ">
                                    <label class='form-field-lable control-label'>Minimum Required</label>
                                    <input type="text" NumbersOnly class="form-control" name="minCapacity"
                                        formControlName="minCapacity">
                                </div>
                            </td> -->
                            <td style="width: 50%">
                                <div class="input-label-custom ">
                                    <label class='form-field-lable control-label'>Maximum Capacity</label>
                                    <input type="text" NumbersOnly class="form-control" name="maxCapacity"
                                        formControlName="maxCapacity" maxlength="9" appTrimInput>
                                </div>
                            </td>
                            <td style="width: 50%">
                                <div class="input-label-custom ">
                                    <label class='form-field-lable control-label'>Room Code</label>
                                    <input type="text" [readOnly]="true" class="form-control" name="rmCode"
                                        formControlName="rmCode">
                                </div>
                            </td>
                        </tr>
                        <!-- <tr
                            *ngIf="(rmConfigForm.controls['minCapacity']?.errors && rmConfigForm.controls['minCapacity'].dirty)">
                            <td style="width:25%">
                                <label *ngIf="!rmConfigForm.controls['minCapacity']?.errors.required"
                                    class='form-field-lable' style="color:red;">{{errorMsg}}</label>
                            </td>
                        </tr> -->
                        <tr
                            *ngIf="(rmConfigForm.controls['maxCapacity']?.errors && rmConfigForm.controls['maxCapacity'].dirty)">
                            <td style="width:25%">
                                <label *ngIf="rmConfigForm.controls['maxCapacity']?.errors.min || rmConfigForm.controls['maxCapacity']?.errors.required"
                                    class='form-field-lable' style="color:red;">Maximum capacity must be greater than zero</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%">
                                <div class="input-label-custom">
                                    <div class="p-fluid">
                                        <div class="p-field">
                                            <label class='form-field-lable control-label '>Time Day Start</label><br>
                                            <p-inputMask mask="99:99" (change)="setTimerDayStart()"
                                                formControlName="dayStart" placeholder="00:00" slotChar="hh:mm">
                                            </p-inputMask>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="width: 50%">
                                <div class="input-label-custom ">
                                    <label class='form-field-lable'>Room Name</label>
                                    <input type="text" class="form-control" name="rmName" [readOnly]="true"
                                        formControlName="rmName">
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="(rmConfigForm.controls['dayStart']?.errors && rmConfigForm.controls['dayStart'].dirty)">
                            <td style="width:25%">
                                <label *ngIf="!rmConfigForm.controls['dayStart']?.errors.required"
                                    class='form-field-lable' style="color:red;">{{errorMsg}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%">
                                <div class="input-label-custom">
                                    <div class="p-fluid">
                                        <div class="p-field">
                                            <label class='form-field-lable control-label'>Time Day End</label><br>
                                            <p-inputMask mask="99:99" (change)="setTimerDayEnd()"
                                                formControlName="dayEnd" placeholder="00:00" slotChar="hh:mm">
                                            </p-inputMask>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- <td style="width: 50%">
                                <div class="input-label-custom ">
                                    <label class='form-field-lable control-label'>Room Category</label>
                                    <ng-select appendTo="body" [clearable]="false" [items]="enumRmCat"
                                        formControlName="rmCat" [searchable]="true" bindLabel="rmCatDesc"
                                        bindValue="rmCat" placeholder="Make a selection"
                                        (change)="onSelectRmCat($event)" class="ng-select-dropdown">
                                    </ng-select>
                                </div>
                            </td> -->
                            <td style="width: 50%">
                                <div class="input-label-custom ">
                                    <div class="input-label-custom ">
                                        <label class='form-field-lable control-label'>External Visitors Allowed</label>
                                        <ng-select appendTo="body" [clearable]="false" [items]="enumExtAllowedData"
                                            formControlName="externalAllowed" [searchable]="true" bindLabel="enumValue"
                                            bindValue="enumKey" placeholder="Make a selection" class="ng-select-dropdown">
                                        </ng-select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="(rmConfigForm.controls['dayEnd']?.errors && rmConfigForm.controls['dayEnd'].dirty)">
                            <td style="width:25%">
                                <label *ngIf="!rmConfigForm.controls['dayEnd']?.errors.required"
                                    class='form-field-lable' style="color:red;">{{errorMsg}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%">
                                <div class="input-label-custom ">
                                    <div class="input-label-custom ">
                                        <label class='form-field-lable control-label'>Is Reservable?</label>
                                        <ng-select appendTo="body" [clearable]="false" [items]="enumIsReservable"
                                            formControlName="isReservable" [searchable]="true" bindLabel="enumValue"
                                            bindValue="enumKey" placeholder="Make a selection" class="ng-select-dropdown">
                                        </ng-select>
                                    </div>
                                </div>
                            </td>
                            <td style="width: 50%">
                                <div class="input-label-custom ">
                                    <label class='form-field-lable control-label'>Arrangement Type</label>
                                    <ng-select appendTo="body" [clearable]="false" [items]="enumArrangementType"
                                        formControlName="arrangementId" [searchable]="true" bindLabel="name" bindValue="arrangementId"
                                        placeholder="Make a selection"
                                        class="ng-select-dropdown">
                                    </ng-select>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="(rmConfigForm.controls['arrangementType']?.errors && rmConfigForm.controls['arrangementType'].dirty)">
                            <td style="width:50%">
                            </td>
                            <td style="width:50%"
                                *ngIf="(rmConfigForm.controls['arrangementType']?.errors && rmConfigForm.controls['arrangementType'].dirty)">
                                <label *ngIf="!rmConfigForm.controls['arrangementType']?.errors.required"
                                    class='form-field-lable' style="color:red;">{{errorMsg}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%">
                                <div class="input-label-custom ">
                                    <div class="input-label-custom ">
                                        <label class='form-field-lable control-label'>Is Approval Required?</label>
                                        <ng-select appendTo="body" [clearable]="false"
                                            [items]="enumIsApprovalRequiredList" formControlName="isApprovalRequired"
                                            [searchable]="true" bindLabel="enumValue" bindValue="enumKey"
                                            placeholder="Make a selection" class="ng-select-dropdown">
                                        </ng-select>
                                    </div>
                                </div>
                            </td>
                            
                        </tr>
                    </table>
                </form>
            </mat-card-content>
        </mat-card>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mat-dialog-actions-ext">
    <p-button label="Save" (click)="onSaveRecord()" icon="pi pi-check" [disabled]="!rmConfigForm.valid">
    </p-button>
    <p-button label="Cancel" icon="pi pi-times" (click)="onCancel()"
        styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
</mat-dialog-actions>
<p-toast key="rmConfig" position="top-right"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>