<form [formGroup]="eqLease">
    <table width="50%">
        <tr>
            <td>
                <div class="input-label-custom " style="width: 90%;">
                    <label class='form-field-lable'>Lease Number</label>
                    <input type="text" class="form-control" name="leaseNum" formControlName="leaseNum" maxlength="32" appTrimInput>
                </div>
            </td>
            <td>
                <div class="input-label-custom " style="width: 90%;">
                    <label class='form-field-lable '>Lease Cost</label>
                    <input type="text" class="form-control" TwoDigitDecimalNumber name="leaseCost" formControlName="leaseCost" appTrimInput>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-label-custom"  style="width: 90%;">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label class='form-field-lable'>Lease From Date</label>
                            <p-calendar appendTo="body" dateFormat="dd M yy" name="leaseFromDate"
                                formControlName="leaseFromDate" [showIcon]="false" inputId="icon"></p-calendar>
                        </div>
                    </div>
                </div>
            <td>
                <div class="input-label-custom" style="width: 90%;">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label class='form-field-lable'>Lease To Date</label>
                            <p-calendar appendTo="body" dateFormat="dd M yy" name="leaseToDate"
                                formControlName="leaseToDate" [showIcon]="false" inputId="icon"></p-calendar>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</form>