<p-panel header="{{title}} Classification">
    <ng-template pTemplate="icons">
        <button pButton (click)="saveRecords()" label="Save" [disabled]="!assetClassFormPanel.valid"></button>
        <button pButton class="ml10" label="Cancel" (click)="cancel()"></button>
    </ng-template>

    <form [formGroup]="assetClassFormPanel">
        <table width="100%">
            <tr *ngIf="parentAssetClassification.length > 0">
                <td>
                    <div class="input-label-custom">
                        <label class='form-field-lable' style="font-weight: bold ! important; font-size: 12px !important;">Parent: </label>
                        <label class='form-field-lable' style="margin-left: 5px; font-weight: bold ! important;">{{ parentAssetClassification}}</label>
                    </div>

                </td>
            </tr>
            <tr>
                <td style="width: 100%">
                    <div class="input-label-custom">
                        <label class='form-field-lable control-label'>Classification</label>
                        <input type="text" class="form-control" name="assetClass" formControlName="assetClass"
                            [readonly]="!isNew" maxlength="64" appTrimInput>
                    </div>
                </td>
            </tr>
            
            <tr>
                <td style="width: 100%">
                    <div class="input-label-custom ">
                        <label class='form-field-lable'>Description</label>
                        <textarea class="form-control note-border" name="description" formControlName="description" rows="2" nz-input
                            maxlength="512" appTrimInput></textarea>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</p-panel>
<p-toast key="error" position="top-right"></p-toast>