<p-panel>
    <ng-template pTemplate="header">
        <label class='form-field-lable'>Plan Part Details</label>
    </ng-template>
    <ng-template pTemplate="icons">
        <button pButton (click)="onAdd()" label="Add" icon="pi pi-plus">
        </button>
    </ng-template>
    <p-table #dt1 [value]=" planPartsData" [paginator]="true" [rows]="rowCount" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5,10,25]" styleClass="p-datatable-responsive-demo p-datatable-gridlines"
        [rowHover]="false" [scrollable]="true" scrollDirection="both" scrollHeight="350px"
        selectionMode="single" >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:8rem"> </th>
                <th pSortableColumn="part.partCode">
                    <div class="grid-header-column">
                        <div class="grid-header-label">
                            <p class="grid-label-paragraph">Part Code</p>
                        </div>
                        <div class="grid-sort-icon">
                            <p-sortIcon field="part.partCode"></p-sortIcon>
                            <p-columnFilter type="text" field="part.partCode" display="menu"></p-columnFilter>
                        </div>
                    </div>
                </th>
                <th pSortableColumn="qunatityRequired">
                    <div class="grid-header-column">
                        <div class="grid-header-label">
                            <p class="grid-label-paragraph">Required Quantity</p>
                        </div>
                        <div class="grid-sort-icon">
                            <p-sortIcon field="qunatityRequired"></p-sortIcon>
                            <p-columnFilter type="text" field="qunatityRequired"
                                display="menu"></p-columnFilter>
                        </div>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-planPart>
            <tr [pSelectableRow]="planPart">
                <td style="width:8rem">
                    <button pButton pRipple icon="pi pi-pencil" type="button"
                        (click)="openEditItem(planPart.planPartId)" class="p-button-text">
                    </button>
                    <button pButton pRipple icon="pi pi-times" type="button"
                        (click)="onDelete(planPart.planPartId)" class="p-button-text pull-right"
                        style="font-size: 5rem; color: red;">
                    </button>
                </td>
                <td>{{planPart.part.partCode}}</td>
                <td>{{planPart.qunatityRequired}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="5">
                    No records found
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
<p-toast key="planPartSave" position="top-right"></p-toast>
<p-toast key="planPartDelete" position="top-center"></p-toast>
<p-confirmDialog key="planPartGrid" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>