<p-panel [header]="gridTitle">
    <ng-template pTemplate="icons">
        <p-button label="Back" icon="pi pi-arrow-circle-left" class="pull-right" (click)="clickBack()"
            styleClass="p-button-secondary" [hidden]="hideBackButton"></p-button>

    </ng-template>
    <div class="row" *ngIf="!useTabletProtrait">
        <div class="col-sm-6 col-md-6 col-xm-6 col-lg-6">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p-panel header="Plan Schedules">
                    <ng-template pTemplate="icons">
                        <button pButton (click)="onAdd()" label="Add" icon="pi pi-plus">
                        </button>
                    </ng-template>
                    <p-table #dt1 [value]="planScheduleList" [paginator]="true" [rows]="rowCount"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[5,10,25]" styleClass="p-datatable-responsive-demo p-datatable-gridlines"
                        [rowHover]="false" [scrollable]="true" scrollDirection="both" scrollHeight="600">
                        <ng-template pTemplate="header">
                            <tr>

                                <th style="width:6rem"></th>
                                <th pSortableColumn="planType">
                                    <div class="grid-header-column">
                                        <div class="grid-header-label">
                                            <p class="grid-label-paragraph"> Type</p>
                                        </div>
                                        <div class="grid-sort-icon">
                                            <p-sortIcon field="planType"></p-sortIcon>
                                            <p-columnFilter field="planType" matchMode="equals" display="menu">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-dropdown [ngModel]="value" [options]="enumPlanScheduleData"
                                                        optionLabel="enumValue" optionValue="enumKey"
                                                        (onChange)="filter($event.value)" placeholder="Select a Status"
                                                        [showClear]="true">
                                                    </p-dropdown>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th pSortableColumn="dateStart">
                                    <div class="grid-header-column">
                                        <div class="grid-header-label">
                                            <p class="grid-label-paragraph">Start Date</p>
                                        </div>
                                        <div class="grid-sort-icon">
                                            <p-sortIcon field="dateStart"></p-sortIcon>
                                            <p-columnFilter type="text" field="dateStart"
                                                display="menu"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th pSortableColumn="dateEnd">
                                    <div class="grid-header-column">
                                        <div class="grid-header-label">
                                            <p class="grid-label-paragraph">End Date</p>
                                        </div>
                                        <div class="grid-sort-icon">
                                            <p-sortIcon field="dateEnd"></p-sortIcon>
                                            <p-columnFilter type="text" field="dateEnd" display="menu"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th pSortableColumn="planType">
                                    <div class="grid-header-column">
                                        <div class="grid-header-label">
                                            <p class="grid-label-paragraph"> Is Active</p>
                                        </div>
                                        <div class="grid-sort-icon">
                                            <p-sortIcon field="planType"></p-sortIcon>
                                            <p-columnFilter field="planType" matchMode="equals" display="menu">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-dropdown [ngModel]="value" [options]="enumIsActiveData"
                                                        optionLabel="enumValue" optionValue="enumKey"
                                                        (onChange)="filter($event.value)" placeholder="Select a Status"
                                                        [showClear]="true">
                                                    </p-dropdown>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th pSortableColumn="priority">
                                    <div class="grid-header-column">
                                        <div class="grid-header-label">
                                            <p class="grid-label-paragraph">Priority</p>
                                        </div>
                                        <div class="grid-sort-icon">
                                            <p-sortIcon field="priority"></p-sortIcon>
                                            <p-columnFilter type="text" field="priority"
                                                display="menu"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-planSchedule>
                            <tr [pSelectableRow]="planSchedule">
                                <td style="width:6rem">
                                    <button pButton pRipple icon="pi pi-pencil" type="button"
                                        (click)="openEditItem(planSchedule)" class="p-button-text">
                                    </button>
                                    <button pButton pRipple icon="pi pi-times" type="button"
                                        (click)="onDelete(planSchedule.planScheduleId)" class="p-button-text pull-right"
                                        style="font-size: 5rem; color: red;">
                                    </button>
                                </td>
                                <td>{{getEnumByById(planSchedule.type) | titlecase}}</td>
                                <td>{{planSchedule.dateStart | date :"dd MMM yyyy"}}</td>
                                <td>{{planSchedule.dateEnd | date :"dd MMM yyyy"}}</td>
                                <td>{{getEnumIsActiveById(planSchedule.isActive)}}</td>
                                <td>{{planSchedule.priority}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="5">
                                    No records found
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-panel>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-xm-6 col-lg-6">
            <div class="col-sm-12 col-md-12 col-lg-12" [ngClass]="{ 'readonly-panel': showChild? false : true }">
                <p-panel [header]="formTitle">
                    <app-ppm-schedule-type (parentFun)="update($event)"
                        [planLocEqId]="planLocEqId" [hidden]="!showChild"></app-ppm-schedule-type>
                </p-panel>
            </div>
        </div>
    </div>
    <div *ngIf="useTabletProtrait" style="height:70vh;">
        <div style="height: 50%;">
            <div>
                <p-panel header="Plan Schedules">
                    <ng-template pTemplate="icons">
                        <button pButton (click)="onAdd()" label="Add" icon="pi pi-plus">
                        </button>
                    </ng-template>
                    <p-table #dt1 [value]="planScheduleList" [paginator]="true" [rows]="rowCount"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[5,10,25]" styleClass="p-datatable-responsive-demo p-datatable-gridlines"
                        [rowHover]="false" [scrollable]="true" scrollDirection="both" scrollHeight="600">
                        <ng-template pTemplate="header">
                            <tr>

                                <th style="width:6rem"></th>
                                <th pSortableColumn="planType">
                                    <div class="grid-header-column">
                                        <div class="grid-header-label">
                                            <p class="grid-label-paragraph"> Type</p>
                                        </div>
                                        <div class="grid-sort-icon">
                                            <p-sortIcon field="planType"></p-sortIcon>
                                            <p-columnFilter field="planType" matchMode="equals" display="menu">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-dropdown [ngModel]="value" [options]="enumPlanScheduleData"
                                                        optionLabel="enumValue" optionValue="enumKey"
                                                        (onChange)="filter($event.value)" placeholder="Select a Status"
                                                        [showClear]="true">
                                                    </p-dropdown>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th pSortableColumn="dateStart">
                                    <div class="grid-header-column">
                                        <div class="grid-header-label">
                                            <p class="grid-label-paragraph">Start Date</p>
                                        </div>
                                        <div class="grid-sort-icon">
                                            <p-sortIcon field="dateStart"></p-sortIcon>
                                            <p-columnFilter type="text" field="dateStart"
                                                display="menu"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th pSortableColumn="dateEnd">
                                    <div class="grid-header-column">
                                        <div class="grid-header-label">
                                            <p class="grid-label-paragraph">End Date</p>
                                        </div>
                                        <div class="grid-sort-icon">
                                            <p-sortIcon field="dateEnd"></p-sortIcon>
                                            <p-columnFilter type="text" field="dateEnd" display="menu"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th pSortableColumn="planType">
                                    <div class="grid-header-column">
                                        <div class="grid-header-label">
                                            <p class="grid-label-paragraph"> Is Active</p>
                                        </div>
                                        <div class="grid-sort-icon">
                                            <p-sortIcon field="planType"></p-sortIcon>
                                            <p-columnFilter field="planType" matchMode="equals" display="menu">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-dropdown [ngModel]="value" [options]="enumIsActiveData"
                                                        optionLabel="enumValue" optionValue="enumKey"
                                                        (onChange)="filter($event.value)" placeholder="Select a Status"
                                                        [showClear]="true">
                                                    </p-dropdown>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                                <th pSortableColumn="priority">
                                    <div class="grid-header-column">
                                        <div class="grid-header-label">
                                            <p class="grid-label-paragraph">Priority</p>
                                        </div>
                                        <div class="grid-sort-icon">
                                            <p-sortIcon field="priority"></p-sortIcon>
                                            <p-columnFilter type="text" field="priority"
                                                display="menu"></p-columnFilter>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-planSchedule>
                            <tr [pSelectableRow]="planSchedule">
                                <td style="width:6rem">
                                    <button pButton pRipple icon="pi pi-pencil" type="button"
                                        (click)="openEditItem(planSchedule)" class="p-button-text">
                                    </button>
                                    <button pButton pRipple icon="pi pi-times" type="button"
                                        (click)="onDelete(planSchedule.planScheduleId)" class="p-button-text pull-right"
                                        style="font-size: 5rem; color: red;">
                                    </button>
                                </td>
                                <td>{{getEnumByById(planSchedule.type) | titlecase}}</td>
                                <td>{{planSchedule.dateStart | date :"dd MMM yyyy"}}</td>
                                <td>{{planSchedule.dateEnd | date :"dd MMM yyyy"}}</td>
                                <td>{{getEnumIsActiveById(planSchedule.isActive)}}</td>
                                <td>{{planSchedule.priority}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="5">
                                    No records found
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-panel>
            </div>
        </div>
        <div style="height: 50%;">
            <div  [ngClass]="{ 'readonly-panel': showChild? false : true }">
                <p-panel [header]="formTitle">
                    <app-ppm-schedule-type (parentFun)="update($event)"
                        [planLocEqId]="planLocEqId" [hidden]="!showChild"></app-ppm-schedule-type>
                </p-panel>
            </div>
        </div>
    </div>
</p-panel>

<p-toast key="scheduleSave" position="top-right"></p-toast>
<p-toast key="scheduleDelete" position="top-center"></p-toast>
<p-confirmDialog key="planScheduleList" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>