::ng-deep .p-tree {
    border: none !important;
    padding: 0px !important;
    overflow-y: scroll;
}

:host ::ng-deep .pi-chevron-down:before {
    content: "\2212" !important;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0d89ec;
}

:host ::ng-deep .pi-chevron-right:before {
    content: "\002B" !important;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0d89ec;
}

:host ::ng-deep b, strong {
    font-weight: 400;
}