<h2 mat-dialog-title class="mat-dialog-title-ext">{{title}} Asset Standard</h2>
<mat-dialog-content class="mat-typography mat-dialog-content-ext">
  <form [formGroup]="frmEqStdDetail">
    <mat-card>
      <mat-card-content id="eqStandard">
        <app-add-eq-std-form formControlName="eqStdFormPanel" [isNew]="isNew">
        </app-add-eq-std-form>
      </mat-card-content>
    </mat-card>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="mat-dialog-actions-ext">
  <p-button label="Save" (click)="saveRecords()" [disabled]="!frmEqStdDetail.valid" icon="pi pi-check"></p-button>
  <p-button label="Cancel" icon="pi pi-times" (click)="confirmDialog()" styleClass="p-button-secondary"
    [style]="{'margin-left': '.5em'}"></p-button>
</mat-dialog-actions>
<p-toast key="error" position="top-right"></p-toast>
<p-confirmDialog key = "eqStdDialog" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>