@import '/src/scss/variables';

:host {
 // display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ant-menu-item{
  padding-left: 50px !important;
}

::ng-deep .ant-menu-submenu-title {
  font-size: 12px !important;
  line-height: 20px !important;
  height: auto !important;
  white-space: normal;
  margin-top: 9px !important;
  margin-bottom: 9px !important;
  display:flex ;
  align-items:center;
}

.task-icon{
   font-size:6px;
  //  display: block;
   display: flex;
   align-self: center;
   color:inherit;
   background-color: inherit;
   border-radius: 50%;
   min-width: 5px !important;
   margin-right: 3px;
}
.task-icon:hover{
  color:white;
  background-color: white;
}

.task-container{
  display: flex;
  flex-direction: row;
  // justify-content: flex-start;
  // align-items: flex-start;
}

.task-icon-container {
  display: flex; 
  align-self: center; 
  justify-content: center;
  margin-right: 3px;
}
.task-title{
  // height: auto;
  white-space: break-spaces;
  color:inherit;
  text-align: center;
}

.task-title:hover{
  color:#ffffff;
}

.app-layout {
  height: 100vh;
  background-color: $toolbar;
}

.menu-sidebar {
  position: fixed;
  z-index: 10;
  min-height: 90vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  background-color: $side-nav;
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: $white;
}
.headerText{
  color: $white;
}
//.header-trigger:hover   {color:white;}

.ant-menu-item{
  line-height: 20px;
  height: auto;
  margin-top: 8px;
  margin-bottom: 8px;
 
}

.sidebar-logo {
  position: relative;
 // height: 64px;
  // padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: $side-nav;
  transition: all .3s;
  // margin-left: 5px;
}

.sidebar-logo img {
  display: inline-block;
  padding-right: 16px;
  width: 30px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;
  height: 46px !important;
  line-height: 40px !important;
  background-color: #879cc9;;
}


.ant-layout-sider .ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  background-color: $side-nav !important;
}



.app-header {
  position: relative;
  height: 40px;
  padding: 0;
  background: $toolbar;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

nz-content {
  margin-top:5px;
  margin-left: 5px;
  margin-right: 5px;
}

.inner-content {
  padding: 5px;
  background-color: #F0F2F5;
  max-height: 92vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.ant-menu .ant-menu-item {
  font-size: 12px  !important;
}
.ant-menu{
  font-size: 12px  !important;
}


::-webkit-scrollbar {
    width: 6px;
    overflow-y: scroll;
    background:$white;
    box-shadow: inset 0 0 4px $white;
    overflow-x: hidden;
}

::-webkit-scrollbar-thumb {
    background: $toolbar;
    border-radius: 10px;
}
::ng-deep .dark-panel.p-dialog {
   .p-dialog-header {
    background: $toolbar !important;
    border-radius: 5px;
    }
}
.container_limit_info {
  background-color: #FF7276;
  border-radius: 3px;
  padding: 2px;
  margin: 1px;
  cursor: pointer;
  font-weight: 500;

}

.paragraph_limit_info {
  margin-top: 3px;
  margin-left: 3px;
  font-size: 12px;

}
.planContainer{
  background-color: #f1f3f6;
  margin-top: 0%;
  padding: 7px;
}
.planTitle{
  color: #898E97;
  margin-left:10px;
  font-weight: 600;
  font-size: 14px;
}
.planText{
  margin-left:10px;
  font-size: 12px;
}

.item{
  margin-left:10px;
}

::ng-deep .p-chip img {
  width: 4rem;
  height: 3rem;
  margin-left: -0.8rem;
  cursor: pointer;
}

::ng-deep .p-chip {
  background-color: #dee2e6;
  color: #495057;
  padding: 1px 1rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
}

::ng-deep .pi {
 // font-size: 1.5rem;
  cursor: pointer;
}

.always-visible-tooltip {
  display: block !important;
  visibility: visible !important;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem 0.5rem;
}

:host ::ng-deep.p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem 0.5rem;
}

:host ::ng-deep.p-datatable .p-datatable-thead > tr > th .grid-header-column {
  display: flex;
  flex-direction: row;
}

:host ::ng-deep.p-datatable .p-datatable-thead > tr > th .grid-header-label {
  width: 70%;
  justify-content: flex-start;
  justify-content: space-between;
  padding-right: 5px;
}

:host ::ng-deep.p-datatable .p-datatable-thead > tr > th .grid-sort-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}

:host ::ng-deep.p-datatable .p-datatable-thead > tr > th .grid-label-paragraph {
  margin: 0 !important;
}

:host ::ng-deep.ant-menu-item  > div{
  width: fit-content;
}

.ellipsis{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  
}
.chip-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}

.p-chip {
  margin: 0;
}

:host .mat-mdc-icon-button {
  padding :0px !important;
}

:host ::ng-deep .ng-dropdown-panel.ng-select-top {
  z-index: 1400;
}