<nz-layout class="app-layout" *ngIf="isLogin; else logoutTemplate">
  <nz-sider *ngIf="isLogin" class="menu-sidebar" nzCollapsible nzWidth="220px" nzBreakpoint="md" [nzCollapsedWidth]="80"
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <ng-container *ngIf="isCollapsed; else elseTemplate">
      <div class="sidebar-logo">
        <img src="../assets/images/fms_logo_collapsed.png" (click)="onclickHome()" alt="FMS"
          style="width: 80%; height: 40%; margin-left: 12px;">
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="sidebar-logo">
        <img src="../assets/images/fms_light_new_uncollapsed.png" (click)="onclickHome()" alt="FMS" style="width: 100%;">
      </div>
    </ng-template>
    <!-- <h1>FMS</h1> -->
    <div style="overflow-y: auto;overflow-x:hidden; height: calc(100vh - 64px) !important;">
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <ng-container #submenu *ngFor="let item of sideNavItems">
          <li nz-submenu nzTitle={{item.title}} nzIcon={{item.icon}} [(nzOpen)]="item.dv"
            (nzOpenChange)="openHandler(item)" [nzPaddingLeft]="isCollapsed?32:4">
            <ul *ngFor="let sub of item.subProcessItem">
              <li nz-submenu [nzPaddingLeft]="30" [(nzOpen)]="sub.sdv" nzTitle={{sub.title}}
                (nzOpenChange)="openSubMenuHandler(sub)">
                <ul *ngFor="let itm of sub.subMenuItems">
                  <li nz-menu-item nzMatchRouter class="task-container">
                    <div style="display: flex;justify-content: space-between;">
                      <div class="task-icon-container">
                        <span nz-icon nzType="right-circle" nzTheme="fill" class="task-icon"></span>
                      </div>
                      <div>
                        <a [routerLink]="['/',itm.link]" (click)="setPageTitle(itm.title)" class="task-title">
                          {{itm.title}}</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <ul *ngFor="let sitem of item.subMenuItems">
              <li nz-menu-item nzMatchRouter class="task-container">
                <div style="display: flex;justify-content: space-between;">
                  <div class="task-icon-container">
                    <span nz-icon nzType="right-circle" nzTheme="fill" class="task-icon"></span>
                  </div>
                  <div>
                    <a [routerLink]="['/',sitem.link]" (click)="setPageTitle(sitem.title)" class="task-title">
                      {{sitem.title}}</a>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>
  </nz-sider>
  <nz-layout [ngStyle]="{'margin-left.px': !isCollapsed ?'220':'80'}">
    <nz-header *ngIf="isLogin">
      <div class="app-header">
        <div nz-row>
          <div nz-col nzFlex="auto">
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <em class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></em>
            </span>
            <span class="headerText">
              {{pageTitle}}
            </span>
          </div>
          <div nz-col style="flex:0 0 270px" [ngStyle]="{'flex': isCollapsed ? '0 0 130px '  : '0 0 270px'}">
            <span nz-space nzAlign="end">
              <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile"
                [ngStyle]="{'padding':'0px !important'}"  
                matTooltip="{{loggedInUserName}}" matTooltipPosition="left" class="ellipsis">
                <div *ngIf="emPhoto.length >0">
                  <div style="height: 46px;width: 46px;"><img src="{{userProfilePic}}" style="height: 85%; width: 85%; border-radius: 50%;"/></div>
                </div>
                <div *ngIf="emPhoto.length ==0" style="height: 48px;width: 48px;">
                  <span class="pi pi-user"></span>
                </div>
                
                <mat-menu #profile="matMenu" Style="margin-top: 10px;" yPosition="below">
                  <!-- <div class="planContainer">
                    <span class="planTitle">Plan :</span>
                    <span class="planText">{{planName}}</span>
                  </div>
                  <div class="planContainer">
                    <span class="planTitle">Organization :</span>
                    <span class="planText">{{compName}}</span>
                  </div> -->
                  <button mat-menu-item (click)="onclickHome()">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                  </button>
                  <button mat-menu-item (click)="openUserProfilePanel()">
                    <mat-icon>person</mat-icon>
                    <span> Profile</span>
                  </button>
                  <button mat-menu-item (click)="openUserChangePasswordPanel()">
                    <mat-icon>settings</mat-icon>
                    <span>Change Password</span>
                  </button>
                  <a [routerLink]="['/logout']" routerLinkActive="router-link-active">
                    <button mat-menu-item>
                      <mat-icon>logout</mat-icon>
                      <span> Logout</span>
                    </button>
                  </a>
                </mat-menu>
              </button>
            </span>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="container_limit_info" [ngStyle]="{'margin-top': isLimitInfo ?'36px' :'0px'}" *ngIf="islimitExceed"
        (click)=" isLimitInfo = !isLimitInfo">
        <p *ngIf="isLimitInfo" class="paragraph_limit_info">{{plan_exceed_msg}}</p>
      </div>
      <div class="inner-content" [ngStyle]="{'margin-top': isLimitInfo ?'0px' :'45px'}">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #logoutTemplate>
  <router-outlet></router-outlet>
</ng-template>