<h2 mat-dialog-title class="mat-dialog-title-ext">Add Document</h2>
<mat-dialog-content class="mat-typography mat-dialog-content-ext">
    <mat-card>
        <mat-card-content id="documents">
            <form [formGroup]="documentsForm">
                <table width="100%">
                    <tr>
                        <td style="width: 50%">
                            <div class="input-label-custom ">
                                <label class='form-field-lable control-label'>Document Type</label>
                                <ng-select appendTo="body" [clearable]="false" [items]="enumDocType"
                                    formControlName="docType" [searchable]="true" bindLabel="enumValue" bindValue="enumValue"
                                    placeholder="Make a selection" class="ng-select-dropdown">
                                </ng-select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <div class="input-label-custom ">
                                <div class="file-container" (click)="_fileInput.click()">
                                    <div class="label-container">
                                        <label class='form-field-lable'>{{fileName}}</label>
                                    </div>
                                    <div class="icon-container">
                                        <p-button icon="pi pi-cloud-upload"
                                            styleClass="p-button-rounded custom-button"></p-button>
                                    </div>
                                </div>
                                <input #_fileInput type="file" hidden accept=".jpg, .jpeg, .png, .pdf,.doc,.docx, .xlsx"
                                    style="margin-bottom: 3px;" (change)="fileChangeEvent($event)" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-label-custom ">
                                <label class='form-field-lable'>Notes</label>
                                <textarea class="form-control note-border" name="notes" rows="4" nz-input maxlength="512" formControlName="notes"
                                    appTrimInput></textarea>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mat-dialog-actions-ext">
    <p-button label="Save" icon="pi pi-check" [disabled]="!fileSelected || (!documentsForm.valid)"
        (click)="onSaveDocuments()"></p-button>
    <p-button label="Cancel" (click)="confirmDialog()" icon="pi pi-times" styleClass="p-button-secondary"
        [style]="{'margin-left': '.5em'}"></p-button>
</mat-dialog-actions>
<p-confirmDialog header="positionDialog" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-dialog header="Warning" [(visible)]="showWarning" [style]="{width: '25vw'}" [closable]="false">
    <ng-template pTemplate="caption">
        <div class="m-2">
            <p>Selected file exceeds the size limit of 1MB.</p>
        </div>
        <div class="d-flex flex-row justify-content-end">
            <div style="display: flex; padding-left: 6px;">
                <button pButton pRipple label="Ok" class="p-button-primary p-button-sm" style="margin-left:8px"
                    (click)="showWarning = !showWarning"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>