<h2 mat-dialog-title class="mat-dialog-title-ext">{{title}} Room Category</h2>
<mat-dialog-content class="mat-typography mat-dialog-content-ext">
  <form [formGroup]="frmRmcatDetail">
    <mat-card>
      <mat-card-content id="blFrm">
        <app-add-rmcat-item formControlName="rmcatFormPanel" [isNew]="isNew" ></app-add-rmcat-item>
      </mat-card-content>
    </mat-card>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mat-dialog-actions-ext">
  <p-button label="Delete" (click)="deleteRecord()" [hidden]="this.isNew" [disabled]="!frmRmcatDetail.valid"
    icon="pi pi-trash" class="mr5"></p-button>
  <p-button label="Save"  (click)="saveRecords()" [disabled]="!frmRmcatDetail.valid" icon="pi pi-check"></p-button>
  <p-button label="Cancel" icon="pi pi-times" (click)="confirmDialog()" styleClass="p-button-secondary"
            [style]="{'margin-left': '.5em'}"></p-button>
</mat-dialog-actions>
<p-confirmDialog key="rmcatForm" header="Confirmation"  icon="pi pi-exclamation-triangle"></p-confirmDialog>
