<h2 mat-dialog-title class="mat-dialog-title-ext">{{title}} Parts</h2>
<mat-dialog-content class="mat-typography mat-dialog-content-ext">
  <form [formGroup]="frmRequestParts">
    <mat-card>
      <mat-card-content id="tool">
        <app-add-request-parts formControlName="requestPartsFormPanel" [isView]="isView" [isNew]="isNew"></app-add-request-parts>
      </mat-card-content>
    </mat-card>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mat-dialog-actions-ext">
  <p-button label="Unassign" icon="pi pi-check" (click)="onDelete()"[disabled]="requestPartId == 0 || isView" ></p-button>
  <p-button label="Save" (click)="saveRecords()" [disabled]="!frmRequestParts.valid || addRequestPartsComponent.partExist || addRequestPartsComponent.errorMsg.length > 0" 
    icon="pi pi-check" [style]="{'margin-left': '.5em'}"></p-button>
  <p-button label="Cancel" icon="pi pi-times" (click)="confirmDialog()" styleClass="p-button-secondary"
    [style]="{'margin-left': '.5em'}"></p-button>
</mat-dialog-actions>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>