<div class="container">
        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 logInBoxDiv">
                <div class="panel panel-info" style="background-color: white !important;">
                        <a href="#" target="_blank"><img src="assets/images/login_logo.jpg" width="250px" alt="FMS"
                                        class="companyLogo" />
                        </a>
                                <p-card header="Reset your Password"  *ngIf="isExpired==false else elseTemplate">
                                        
                                
                                
                               
                                <form id="loginTenant" [formGroup]="passResetForm">
                                        <div class="p-fluid">
                                                <div class=" p-field">
                                                        <label class='form-field-lable'></label>
                                                        <p-password placeholder="Enter new Password" formControlName="userNewPwd" [toggleMask]="true"></p-password>
                                        
                                                </div>
                                        </div>
                                                <div class="p-fluid">
                                                        <div class=" p-field">
                                                                <label class='form-field-lable'></label>
                                                                <p-password placeholder="Re-enter new passwor" formControlName="newPasswordConfirm" [feedback]="false" [toggleMask]="true"></p-password>
                                                
                                                        </div>
                                                </div>
                                        <div *ngIf="(passResetForm.controls['newPasswordConfirm']?.errors && (passResetForm.controls['newPasswordConfirm']?.dirty || passResetForm.controls['newPasswordConfirm']?.touched))">
                                                
                                                        <label *ngIf="passResetForm.controls['newPasswordConfirm']?.errors && !passResetForm.controls['newPasswordConfirm']?.errors.required"
                                                                class='form-field-lable' style="color:red;">
                                                                passwords that you enter is inconsistent!
                                                        </label>
                                               
                                        
                                                
                                        </div>
                                        
                                        
                                </form>
                                <div *ngIf="resMsg" [ngStyle]="{'color': isSuccess ==true ? 'green':'red'}">{{msg}}</div>
                                <ng-template pTemplate="footer">
                                        <p-button label="Save" [disabled]="!passResetForm.valid" (click)="onSave()" icon="pi pi-check"></p-button>
                                        <p-button label="Cancel" (click)="onCancel()" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}">
                                        </p-button>
                                </ng-template>
                                
                                </p-card>
                                <ng-template #elseTemplate>
                                        <p-fieldset legend="Reset your Password">
                                                <p>The above link is expired.</p>
                                                <br>
                                                <i>please contact administrator.</i>
                                        </p-fieldset>
                                </ng-template>
                                

                </div>
        </div>
</div>