<h2 mat-dialog-title class="mat-dialog-title-ext">{{title}} Tool Type</h2>
<mat-dialog-content class="mat-typography mat-dialog-content-ext">
  <form [formGroup]="frmToolTypeDetail">
    <mat-card>
      <mat-card-content id="toolType">
        <app-add-tool-type formControlName="toolTypeFormPanel" [isNew]="isNew"></app-add-tool-type>
      </mat-card-content>
    </mat-card>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mat-dialog-actions-ext">
  <p-button label="Save" (click)="saveRecords()" [disabled]="!frmToolTypeDetail.valid" icon="pi pi-check"></p-button>
  <p-button label="Cancel" icon="pi pi-times" (click)="confirmDialog()" styleClass="p-button-secondary"
    [style]="{'margin-left': '.5em'}"></p-button>
</mat-dialog-actions>
<p-toast key="error" position="top-right"></p-toast>
<p-confirmDialog header="Confirmation" key="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>