<div class="card flex justify-content-center">
  <p-dialog
    header=""
    [(visible)]="showDialogue"
    [modal]="true"
    [maximizable]="true"
    (onHide)="onCancel()"
    [style]="{ minHeight: '30vh', width: '42vw' }"
    [breakpoints]="{ '1199px': '30vw', '767px': '50vw', '575px': '70vw' }"
  >
    <p-header> {{ title }} Budget Term </p-header>
    <div class="container-fluid">
      <form [formGroup]="formBudgetTerms">
        <div class="row">
          <div class="col-12">
            <div class="input-label-custom">
              <label class="form-field-lable control-label">Term Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                formControlName="name"
                maxlength="64"
                appTrimInput
              />
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-xl-6">
            <div class="input-label-custom">
              <div class="p-fluid">
                <div class="p-field">
                  <label class="form-field-lable control-label"
                    >Term Start Date</label
                  >
                  <p-calendar
                    appendTo="body"
                    dateFormat="dd M yy"
                    name="dateFrom"
                    formControlName="dateFrom"
                    [showIcon]="false"
                    [showSeconds]="false"
                  ></p-calendar>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-xl-6">
            <div class="input-label-custom">
              <div class="p-fluid">
                <div class="p-field">
                  <label class="form-field-lable control-label"
                    >Term End Date</label
                  >
                  <p-calendar
                    appendTo="body"
                    dateFormat="dd M yy"
                    name="dateTo"
                    formControlName="dateTo"
                    [showIcon]="false"
                  ></p-calendar>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-8"
            *ngIf="
              (formBudgetTerms.controls['dateTo']?.errors &&
                (formBudgetTerms.controls['dateTo']?.dirty ||
                  formBudgetTerms.controls['dateTo']?.touched)) ||
              (this.formBudgetTerms.controls['dateFrom'].errors &&
                (this.formBudgetTerms.controls['dateFrom'].dirty ||
                  this.formBudgetTerms.controls['dateFrom'].touched))
            "
          >
            <label style="color: red" class="form-field-lable">{{
              errorMsg
            }}</label>
          </div>
        </div>
      </form>
    </div>
    <ng-template pTemplate="footer">
      <button
        pButton
        label="Save"
        (click)="saveRecords()"
        [disabled]="formBudgetTerms.invalid"
        icon="pi pi-check"
      ></button>
      <p-button
        label="Cancel"
        icon="pi pi-times"
        (click)="onCancel()"
        styleClass="p-button-secondary"
        [style]="{ 'margin-left': '.5em' }"
      ></p-button>
    </ng-template>
  </p-dialog>
</div>
<p-toast key="save" position="top-right"></p-toast>
