@import '/src/scss/variables';
:host ::ng-deep .dark-panel.p-card {
    box-shadow: none;
}
.circle-icon{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
   
}
.img-border-color{
     border:$toolbar solid;
    
}
.circle-cc{
    display: block;
    vertical-align: top;
    text-align: center;
    line-height: normal;
    padding-left: 0px;
    padding-right: 0px;
}
img{
    border: none;
    margin-right: 6px;
    vertical-align: top;
    height: 100%;
    width: 100%;
    border-radius: 75%;
    
}
.add-icon{
    background: #fff;
    border-radius: 24px;
    bottom: 24px;
    right: 0;
    overflow: visible;
    height: 30px;
    width: 28px;
    float: right;
    position: relative;
    text-align: top;
}
.add-icon-trans{
    background: transparent;
}
[data-letters]:before {
  content:attr(title);
  display:inline-block;
  font-size:1em;
  width:7.5em;
  height:7.5em;
  line-height:7.5em;
  text-align:center;
  border-radius:50%;
  background:$toolbar;
  font-weight: 500;
  vertical-align:middle;
  margin-right:1em;
  color:white;
  position: inherit;
  }

 
  ::ng-deep .ant-drawer-close  {
        order:2;
    }