<div class="comtainer-fliud">
<div class="row">
        <div class="col-sm-4 col-md-4 col-xm-4 col-lg-4">
                <p-panel header="User Roles">
                <div class="page-content" style="height: calc(100vh - 150px)">
                        <app-user-roles-list (parentFun)="getData($event)"></app-user-roles-list>
                </div>
                </p-panel>
        </div>
        <div class="col-sm-8 col-md-8 col-xm-8 col-lg-8">
                <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                                 <!-- <div class="page-content" style="height: calc(40vh)">  -->
                                        <app-user-assign-screens (allScreenProcsPanels)="refreshPanels($event)"></app-user-assign-screens>
                                 <!-- </div>  -->
                        </div>
                </div>
                <div class="row" style="margin-top:10px !important" >
                        <div class="col-sm-12 col-md-12 col-lg-12">
                        <!-- <div class="page-content" style="height: calc(55vh - 50px)">  -->
                        
                                <app-user-unassign-screens (allScreenProcsPanels)="refreshPanels($event)" ></app-user-unassign-screens>
                         <!-- </div>  -->
                        </div>
                </div>
        </div>
</div>
</div>
