<form [formGroup]="costTypeFormPanel">
    <table width="100%">
        <tr>
            <td>
                <div class="input-label-custom ">
                    <label class='form-field-lable control-label'>Cost Type</label>
                    <input type="text" class="form-control" name="costType" formControlName="costType" maxlength="64" appTrimInput>
                </div>
            </td>
        </tr>
        <tr
            *ngIf="(costTypeFormPanel.controls['costType']?.errors && (costTypeFormPanel.controls['costType']?.dirty || costTypeFormPanel.controls['costType']?.touched))">
            <td>
                <label
                    *ngIf="costTypeFormPanel.controls['costType']?.errors && !costTypeFormPanel.controls['costType']?.errors.required"
                    class='form-field-lable' style="color:red; margin-left: 5px;">Cost Type is already exists</label>
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-label-custom ">
                    <label class='form-field-lable'>Description</label>
                    <textarea class="form-control note-border" name="description" formControlName="description" rows="2" nz-input
                        maxlength="256" appTrimInput></textarea>
                </div>
            </td>
        </tr>
    </table>
</form>