<div class="card" style="height:92vh;">
        <p-panel header="Arrangements">
                <ng-template pTemplate="icons">
                        <button pButton (click)="addRecord()" label="Add" icon="pi pi-plus"></button>
                </ng-template>
                <div class="card">
                        <p-table  [value]="arrangementRecords" [paginator]="false" [loading]="loadingRec" 
                                 [scrollable]="true" scrollDirection="both" scrollHeight="500px" (onFilter)="onInnerFilter($event)"
                                [rowHover]="false"   styleClass="p-datatable-customers p-datatable-gridlines" dataKey="arrangementId">
                                <ng-template pTemplate="header">
                                        <tr>     
                                                <th style="width:4rem"></th>
                                                <th pSortableColumn="arrangementType">
                                                    <div class="grid-header-column">
                                                            <div class="grid-header-label">
                                                              <p class="grid-label-paragraph">Arrangement Type</p>
                                                            </div>
                                                            <div class="grid-sort-icon">
                                                            <p-sortIcon field="arrangementType"></p-sortIcon>
                                                            <p-columnFilter type="text" field="arrangementType" display="menu"></p-columnFilter>
                                                              </div>
                                                           </div>
                                                </th>
                                                <th pSortableColumn="description">
                                                    <div class="grid-header-column">
                                                            <div class="grid-header-label">
                                                              <p class="grid-label-paragraph">Description</p>
                                                            </div>
                                                            <div class="grid-sort-icon">
                                                            <p-sortIcon field="description"></p-sortIcon>
                                                            <p-columnFilter type="text" field="description" display="menu"></p-columnFilter>
                                                              </div>
                                                           </div>
                                                </th>  
                                                <th>Highlight Color</th>
                                        </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-arrange>
                                        <tr [pSelectableRow]="arrange">   
                                                <td style="width:4rem">
                                                        <button icon="pi pi-pencil" pButton pRipple type="button"
                                                                (click)="openEditItem(arrange)" class="p-button-text p-button-rounded"></button>
                                                       
                                                </td>
                                                <td>{{arrange.arrangementType}}</td>
                                                <td>{{arrange.description}}</td>
                                                <td>
                                                    <div [style.background-color]="arrange.highlightColor" class="td-class">
                                                    </div>
                                                </td>
                                        </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                        <tr>
                                                <td [attr.colspan]="4">
                                                        No records found
                                                </td>
                                        </tr>
                                </ng-template>
                        </p-table>
                        <div class="paginator">
                                <p-paginator  [rows]="rowCount" [totalRecords]="totalElements" (onPageChange)="onPageChange($event)"
                                [first]="paginationObj.pageNo * paginationObj.pageSize"
                                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
                                  [rowsPerPageOptions]="[25,50,100]"></p-paginator>
                        </div>
                </div>
            </p-panel>
</div>
