// Typography variables
$font-family: 'Roboto', sans-serif;
$url: 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';


// Theming variable
$primary-color: #0b9e6d;
$white: #ffffff;
$main-background-color: #fafafa;
$text-size:12px;
$toolbar:#879cc9;
$side-nav:#343a40;
$mandatoryField:#e01515;
$tabBgColor: #879cc9;
$tabActiveBgColor: #ffffff;
$tabHeight: 2.35;
$tabWidth: 80px;
$tabBorderRadius: 6px 6px 0 0;
$tabBorderBottom: 3px solid #879cc9 !important;
$tabFontColor: #ffffff;
$tabPaneBackgroundColor: #F0F2F5;
$ActiveTabFontColor: #000000;

$tabletPotraitMinWidth:600px ;
$tabletPotraitMaxWidth: 959px;
$tabletLandscapeMinWidth: 960px;
$tabletLandspaceMaxWidth: 1439px;
