<div class="card">
    <form [formGroup]="filterPanel">
        <table width="100%">
            <tr>
                <td style="width: 20%">
                    <div class="input-label-custom ">
                        <label class='form-field-lable control-label'>Building </label>
                        <ng-select appendTo="body" [clearable]="false" [items]="enumBL" formControlName="blId"
                            [searchable]="true" bindLabel="name" bindValue="id" (change)="onSelectBlCode($event)"
                            placeholder="Make a selection" class="ng-select-dropdown">
                        </ng-select>
                    </div>
                </td>
                <td style="width: 20%">
                    <div class="input-label-custom ">
                        <label class='form-field-lable control-label'>Floor</label>
                        <ng-select appendTo="body" [clearable]="false" [items]="enumFL" formControlName="flId"
                            [searchable]="true" bindLabel="name" bindValue="id" placeholder="Make a selection"
                            class="ng-select-dropdown" (change)="onSelectFlCode($event)">
                        </ng-select>
                    </div>
                </td>
                <td style="width: 20%"></td>
                <td style="width: 20%"></td>
                <td style="width: 20%">
                    <div style="margin: 5px 0 0 5px ">
                        <button (click)="onSearch()" [disabled]="!filterPanel.valid" pButton pRipple label="Search"
                            style="width: 60px;  margin-left: 5px;"
                            class="p-button-primary p-button-sm pull right"></button>
                        <button (click)="onClear()" pButton pRipple label="Clear"
                            style="width: 60px;  margin-left: 5px;"
                            class="p-button-primary p-button-sm pull right"></button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="card no-file-found" *ngIf="displayNoFloorPlanInfo">
    <h1>No Floorplan available</h1>
</div>

<div class="card" *ngIf="viewSvg">
    <div style="display: flex; justify-content: space-between;height:600px;">
        <div style="width:22%">
            <div style="display: flex;flex-direction: column;">
                <p-table [value]="divdata" [paginator]="true" [rows]="rowCount" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5,10,25]" styleClass="p-datatable-responsive-demo p-datatable-gridlines"
             [scrollable]="true" scrollDirection="both"  selectionMode="single" [rowHover]="true" (onRowSelect)="ondivrowselect($event)"
                scrollHeight="95%" >
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="divId">
                                Division Id <p-sortIcon field="divId"></p-sortIcon>
                                <p-columnFilter type="text" field="divId" display="menu"></p-columnFilter>
                            </th>
                            <!-- <th style="width:4rem"></th> -->
                            <th>Highlight Color</th>
                    </ng-template>
                    <ng-template pTemplate="body" let-div>
                        <tr [pSelectableRow]="div">
                            <td>{{div.divId}}</td>
                            <!-- <td style="width:4rem">
                                <button type="button" pButton pRipple icon="pi pi-pencil" class="p-button-text"
                                (click)="assignDivision(div)"></button>
                            </td> -->
                            <td>
                                <div [style.background-color]="div.highlightColor" class="td-class">
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="9">
                                No records found
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div *ngIf="showdepttable">
                    <p-table [value]="deptdata" [paginator]="true" [rows]="rowCount" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[5,10,25]" styleClass="p-datatable-responsive-demo p-datatable-gridlines"
                    [scrollable]="true" scrollDirection="both" selectionMode="single" [rowHover]="true" (onRowSelect)="ondeptrowselect($event)"
                    scrollHeight="95%">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="depId">
                                Department Id <p-sortIcon field="depId"></p-sortIcon>
                                <p-columnFilter type="text" field="depId" display="menu"></p-columnFilter>
                            </th>
                            <!-- <th style="width:4rem"></th> -->
                            <th>Highlight Color</th>
                    </ng-template>
                    <ng-template pTemplate="body" let-dept>
                        <tr [pSelectableRow]="dept">
                            <td>{{dept.depId}}</td>
                            <!-- <td style="width:4rem">
                                <button type="button" pButton pRipple icon="pi pi-pencil" class="p-button-text"
                                (click)="assignDepartment(dept)"></button>
                            </td> -->
                            <td>
                                <div [style.background-color]="dept.highlightColor" class="td-class">
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="9">
                                No records found
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                </div>
            </div>  
        </div>
        <div style="width:77%;margin:5px;height:550px">
            <div style="height: 50px; display: flex; justify-content: space-between;">
                <div>
                    <div>{{selectionMessage}}</div>
                    <div *ngIf="selectedSvgElementIds.length>0">{{selectedRoomsMessage}}</div> 
                </div>
                <div>
                    <button (click)="onAssigntoRooms()" pButton pRipple label="Save"
                            style="width: 60px;" [disabled]="!(selectedSvgElementIds.length>0)"
                            class="p-button-primary p-button-sm pull right"></button>
                    <button (click)="onCancelSelection()" pButton pRipple label="Cancel"
                    style="width: 60px;margin-left: 5px;" [disabled]="!(selectedSvgElementIds.length>0)"
                    class="p-button-primary p-button-sm pull right"></button>
                </div>
            </div>
            <div *ngIf="viewSvg" style="height:500px;">
                <app-svg-view   (onRoomClick)="roomOnClickListener($event)"
                ></app-svg-view>
            </div>
            
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#879cc9" class="spinner-color" type="ball-spin-clockwise"
    *ngIf="showSpinner" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<p-toast key="divdeptsvgMsg" position="top-center"></p-toast>
<p-confirmDialog key="divdeptsvgGrid" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
