<h2 mat-dialog-title class="mat-dialog-title-ext"> {{title}} Term</h2>
<mat-dialog-content class="mat-typography mat-dialog-content-ext">
    <form [formGroup]="frmTermDetail">
        <mat-card>
            <mat-card-content >
                <app-add-terms formControlName="termFormPanel" [isNew]="isNew"></app-add-terms>
            </mat-card-content >
        </mat-card>
     </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mat-dialog-actions-ext">
        <p-button label="Save" (click)="saveRecords()" icon="pi pi-check" [disabled]="!frmTermDetail.valid">
        </p-button>
        <p-button label="Cancel"  icon="pi pi-times" (click)="onCancel()"
            styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
</mat-dialog-actions>
<p-toast key="termMessage" position="top-right"></p-toast>
<!-- <p-toast key="termFailureMessage" position="top-center"></p-toast> -->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>