<form [formGroup]="frmPartsDetail" class="disabled-form">
    <mat-card>
        <mat-card-content id="partsCard">
            <table width="100%">
                <tr>
                    <td>
                        <div class="input-label-custom ">
                            <label class='form-field-lable control-label'>Part Code</label>
                            <input type="text" class="form-control" name="partCode" formControlName="partCode"
                                maxlength="64">
                        </div>
                    </td>
                    <td>
                        <div class="input-label-custom ">
                            <label class='form-field-lable'>Model Number</label>
                            <input type="text" class="form-control" name="modelNo" formControlName="modelNo"
                                maxlength="128">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-label-custom ">
                            <label class='form-field-lable'>Minimum to Store</label>
                            <input type="text" class="form-control" name="qutMinHand" formControlName="qutMinHand"
                                NumbersOnly>
                        </div>
                    </td>
                    <td>
                        <div class="input-label-custom ">
                            <label class='form-field-lable'>Quantity Available</label>
                            <input type="text" class="form-control" name="qutOnHand" NumbersOnly
                                formControlName="qutOnHand">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-label-custom ">
                            <label class='form-field-lable control-label'>Consumable</label>
                            <p-selectButton [options]="enumConsumable" formControlName="consumable"
                                optionLabel="enumValue" optionValue="enumKey"></p-selectButton>
                        </div>
                    </td>
                    <td>
                        <div class="input-label-custom ">
                            <label class='form-field-lable'>Quantity Reorder</label>
                            <input type="text" class="form-control" name="qutOnOrder" NumbersOnly
                                formControlName="qutOnOrder">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-label-custom ">
                            <label class='form-field-lable'>Unit of Measurement</label>
                            <ng-select appendTo="body" [clearable]="false" name="unitOfMeasurement"
                                formControlName="unitOfMeasurement" [searchable]="true" bindLabel="enumValue"
                                bindValue="enumKey" placeholder="Make a selection" class="ng-select-dropdown"
                                [items]="enumMeasurment">
                            </ng-select>
                        </div>
                    </td>
                    <td>
                        <div class="input-label-custom ">
                            <label class='form-field-lable'>Rate Per Unit</label>
                            <input type="text" class="form-control" name="ratePerUnit" NumbersOnly
                                formControlName="ratePerUnit">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="input-label-custom">
                            <label class='form-field-lable'>Description</label>
                            <nz-textarea-count [nzMaxCharacterCount]="256">
                                <textarea class="form-control note-border" name="description"
                                    formControlName="description" rows="2" nz-input maxlength="256"></textarea>
                            </nz-textarea-count>
                        </div>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</form>