<div class="row">
    <div class="col-sm-6 col-md-6 col-xm-4 col-lg-6" style="height:90vh;">
        <p-panel header="Division and Department List">
            <ng-template pTemplate="icons">
                <button pButton (click)="showMenu.toggle($event)" label="Add" icon="pi pi-plus"></button>
                <p-menu #showMenu [popup]="true" [model]="reqitems"></p-menu>
            </ng-template>
            <p-tree [loading]="loading" [value]="nodes" selectionMode="single" [(selection)]="selectedFiles" [filter]="true"
                (onNodeSelect)="nodeSelect($event)" (onNodeExpand)="onNodeExpand($event)" scrollHeight="72vh">
                <ng-template let-node pTemplate="url">
                    <a [href]="node.data">{{node.label}}</a>
                </ng-template>
                <ng-template let-node pTemplate="default">
                    <b>{{node.label}}</b>
                </ng-template>
            </p-tree>
        </p-panel>
    </div>
    <div class="col-sm-6 col-md-6 col-xm-4 col-lg-6">
        <div *ngIf="isDivisionView">
            <app-add-division [isNew]="isNew" [action]="action" [formData]="displayData" (parentFun)="refresh($event)"></app-add-division>
        </div>
        <div *ngIf="isDepartmentView">
            <app-add-department [isNew]="isNew" [action]="action" [formData]="displayData"  (parentFun)="refresh($event)"></app-add-department>
        </div>
        <div *ngIf="isSubDepartmentView">
            <app-add-sub-department [isNew]="isNew" [action]="action" [formData]="displayData"  (parentFun)="refresh($event)"></app-add-sub-department>
        </div>
    </div>
</div>
<p-toast key="save" position="top-right"></p-toast>