<div class="row">
    <div class="col-sm-6 col-md-6 col-xm-4 col-lg-6">
        <p-panel header="Asset Classification">
            <ng-template pTemplate="icons">
                <button pButton (click)="onAdd()" label="Add" icon="pi pi-plus"></button>
            </ng-template>
            <p-tree [loading]="loading" [value]="nodes" selectionMode="single" [(selection)]="selectedFiles" [filter]="true"
                (onNodeSelect)="nodeSelect($event)" (onNodeExpand)="onNodeExpand($event)" scrollHeight="72vh">
                <ng-template let-node pTemplate="url">
                    <a [href]="node.data">{{node.label}}</a>
                </ng-template>
                <ng-template let-node pTemplate="default">
                    <b>{{node.label}}</b>
                </ng-template>
            </p-tree>
        </p-panel>
    </div>
    <div class="col-sm-6 col-md-6 col-xm-4 col-lg-6">
        <app-add-asset-classification [hidden]="hideForm" [isNew]="isNew" (parentFun)="refresh($event)"></app-add-asset-classification>
    </div>
</div>
<p-toast key="save" position="top-right"></p-toast>