<form [formGroup]="blFormPanel">
  <table width="100%">
    <tr>
      <td style="width: 50%">
        <div class="input-label-custom ">
          <label class='form-field-lable control-label'>Building Code</label>
          <input type="text" class="form-control" name="blCode" uppercase formControlName="blCode" maxlength="32" [readonly]="isView" appTrimInput>
        </div>
      </td>
      <td style="width: 50%">
        <div class="input-label-custom ">
          <label class='form-field-lable'>Building Name</label>
          <input type="text" class="form-control" [readonly]="isView" name="blName" formControlName="blName" maxlength="64" appTrimInput>
        </div>
      </td>
    </tr>
    <tr *ngIf="(blFormPanel.controls['blId']?.errors && (blFormPanel.controls['blId']?.dirty || blFormPanel.controls['blId']?.touched))">
            <td style="width: 50%">
                    <label *ngIf="blFormPanel.controls['blId']?.errors && !blFormPanel.controls['blId']?.errors.required"
                            class='form-field-lable' style="color:red;">Building Id and Site Id combination  already
                            exists.</label>
            </td>
            <td></td>
    </tr>
    <tr>
      <td style="width: 50%">
        <div class="input-label-custom ">
          <label class='form-field-lable control-label'>Site </label>
          <ng-select appendTo="body" [clearable]="false" [readonly]="!isNew" [items]="enumSites" formControlName="siteId"
          [readonly]="isView"  [searchable]="true" bindLabel="siteName" bindValue="siteId" placeholder="Make a selection"
          (open)="onOpenSite()"   class="ng-select-dropdown" (scrollToEnd)="scrollToEndSite()" (search)="searchSite($event)">
          </ng-select>
        </div>
      </td>
      <td style="width: 50%">
        <div class="input-label-custom ">
          <label class='form-field-lable'>Building Contact Name</label>
          <ng-select appendTo="body" [clearable]="false" [loading]="blContact" [items]="enumBlContactName" (open)="onOpenEm()"
            formControlName="blContactName" [readonly]="isView" [searchable]="true" bindLabel="firstName" bindValue="firstName"
            placeholder="Make a selection" class="ng-select-dropdown" (scrollToEnd)="scrollToEndEm()" (search)="searchEm($event)">
          </ng-select>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 50%">
        <div class="input-label-custom ">
          <label class='form-field-lable'>Contact Number</label>
          <input type="text" class="form-control"  [readonly]="isView" name="blContactPhone" NumbersOnly formControlName="blContactPhone" maxlength="64" appTrimInput>
        </div>
      </td>
      <td style="width: 50%">
        <div class="input-label-custom ">
          <label class='form-field-lable'>Latitude</label>
          <input type="number" class="form-control blue-border" [readonly]="isView" name="latitude" formControlName="latitude" NumbersOnly onKeyPress="if(this.value.length==8) return false;" appTrimInput>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 50%">
        <div class="input-label-custom ">
          <label class='form-field-lable'>Longitude</label>
          <input type="number" class="form-control blue-border" [readonly]="isView" name="longitude" formControlName="longitude" NumbersOnly onKeyPress="if(this.value.length==8) return false;" appTrimInput>
        </div>
      </td>
      <td style="width: 50%" rowspan="2" [hidden]="isNew">
        <table style="width: 100%">
          <tr>
            <td style="align-content:flex-start">
              <div class="container">
                <img [src]="bl_img" alt="" class="image" style="width: 100px; height: 100px;">
                <div class="middle">
                  <div class="text">
                    <button icon="pi pi-eye" pButton pRipple type="button" (click)="preview()" class="p-button-text">
                    </button>
                  </div>
                </div>
              </div>
            </td>
            <td style="width: 50%">
              <div class="input-label-custom ">
                <button pButton label="Select Photo" style="margin-left:4px" class="p-button" [disabled]="isView" type="button" icon="pi pi-image"
                        iconPos="left" (click)="_fileInput.click()"></button>
                <div>
                    <input #_fileInput type="file" accept="image/*" (change)="fileChangeEvent($event)" hidden />
                    <p *ngIf="NotImage" class='form-field-lable' style="color: red;font-size: 10px;">{{imageerrorMsg}}</p>
                </div>
                
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td style="width: 50%">
        <div class="input-label-custom ">
          <label class='form-field-lable control-label'>Time Zone</label>
          <ng-select appendTo="body" [clearable]="false" [readonly]="!isNew" [items]="timeZoneData" formControlName="timeZoneId"
          [readonly]="isView"  [searchable]="true" bindLabel="displayName" bindValue="timeZoneId" placeholder="Make a selection"
                     class="ng-select-dropdown">
          </ng-select>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 50%" colspan="2">
        <div class="input-label-custom ">
          <label class='form-field-lable'>Building Info</label>
          <textarea class="form-control note-border" [readonly]="isView" name="blInfo" formControlName="blInfo" rows="2" nz-input maxlength="128" appTrimInput></textarea>
        </div>
      </td>
    </tr>
  </table>
  <p-dialog [(visible)]="displayImage" [style]="{width: '30vw'}">
    <img [src]="bl_img" [alt]="" width="90%" height="90%" />
  </p-dialog>
</form>
