::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 300px !important;
}

:host ::ng-deep #add-btn .p-button {
    background-color: white !important;
    border-radius: 50%;
    border: 2px solid #2196F3;
    color: #2196F3;
    height: 20px !important;
    width: 20px;
}

:host ::ng-deep .ng-select-container {
    display: flex;
    justify-content: space-between;
}